.albums {
  background-color: rgb(0 0 0 / var(--opacity-90, 1));
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999;
}

.albumsClosed {
  top: -230px;
}

.albums > ul {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-height: 165px;
}

.albums > ul > li {
  flex: 33%;
  margin: 0.75rem;
  border: 1px solid rgb(133, 133, 133);
}

.albumsheader {
  padding: 0.75rem;
  background-color: #000000;
  color: #ffffff;
  width: fit-content;
}

.album {
  display: grid;
  grid-template-columns: 110px auto auto;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.5s ease;
}

.album:hover {
  background-color: #757575;
  color: #ffffff;
}

.albumart {
  width: 110px;
}

.albumart > img {
  width: 100%;
}

.albuminfo {
  margin-left: 5px;
  color: #ffffff;
}

.albuminfo > p {
  margin-bottom: 5px;
  font-size: 0.9rem;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.albumlisttoggle {
  padding: 0.5rem;
  border: none;
  transition: 0.4s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(0 0 0 / var(--opacity-90, 1));
  color: #ffffff;
}

.albumlisttoggle:hover {
  transition: 0.4s;
  background-color: rgb(0 0 0 / var(--opacity-50, 1));
  color: #000000;
}

@media screen and (max-width: 818px) {
  .albums > ul {
    display: block;
  }
  .albums > ul {
    max-height: 235px;
  }
  .albumsClosed {
    top: -305px;
  }
}

@media screen and (max-width: 670px) {
  .album {
    grid-template-columns: 70px auto auto;
  }

  .albums > ul {
    max-height: 135px;
  }

  .albuminfo > p {
    margin-bottom: 5px;
    font-size: 0.8rem;
  }

  .albumart {
    width: 70px;
  }

  .albumsClosed {
    top: -205px;
  }
}
