:root {
  --background: #ffffff;
  --foreground: #171717;
  --opacity-90: 0.9;
  --opacity-80: 0.8;
  --opacity-50: 0.5;
  --opacity-40: 0.4;
  --opacity-30: 0.3;
  --opacity-20: 0.2;
  --opacity-10: 0.1;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-weight: 100;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #1abc9c;
}

button,
input[type="submit"] {
  cursor: pointer;
}

hr {
  border: none;
  height: 1px;
  background-color: #000;
  opacity: 0.1;
  margin: 2em 0;
}

input::placeholder {
  color: #ffffff;
  font-weight: 100;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
