.main {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  padding: 10px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  font-size: 0.9rem;
  background-color: rgb(0 0 0 / var(--opacity-90, 1));
  color: #ffffff;
  z-index: 999;
}

.closePlayer {
  bottom: -100px;
}

.musicplayertoggle {
  padding: 0.5rem;
  border: none;
  transition: 0.4s;
  width: auto;
  position: absolute;
  top: -31px;
  right: 0;
}

.musicplayertoggle:hover {
  background-color: rgb(0 0 0 / var(--opacity-90, 1));
  transition: 0.4s;
}

.left,
.middle,
.right {
  height: fit-content;
}

.playlistMain {
  position: absolute;
  top: -400px;
  left: 0;
  opacity: 1;
  transition: 0.4s;
  z-index: -1;
}

.playlistMainHidden {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
  z-index: -1;
}

.songinfo {
  width: auto;
  display: flex;
}

.artwork {
  width: 70px;
  cursor: pointer;
}

.artwork > img {
  width: 100%;
  margin: 5px;
}

.info {
  width: 100%;
  padding: 0.75rem;
}

.middle {
}

.playback {
  display: flex;
  align-items: center;
  justify-content: center;
}

.playback > button {
  display: flex;
  margin: 5px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  border-width: 0px;
  background-color: #ffffff;
  color: #000000;
}

.progressContainer {
  display: flex;
  align-items: center;
}

.progress {
  margin: 10px;
  -webkit-appearance: none;
  width: 90%;
  height: 5px;
  background: #fff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 10px;
}

.progress::-webkit-slider-thumb,
.volumebar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #000;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 10px;
}

.progress::-moz-range-thumb,
.volumebar::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: #989898;
  cursor: pointer;
}

.time {
  font-size: 0.75rem;
  margin-bottom: 0.2rem;
}

.right {
}

.volumeButton {
  border: none;
  background-color: transparent;
  z-index: 11;
}

.volumecontrolwrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: right;
  background-color: transparent;
  padding: 1rem 2rem;
}

.volumeInputSection {
  position: absolute;
  top: 0;
  right: -15px;
  rotate: 270deg;
  background-color: rgb(0 0 0 / var(--opacity-90, 1));
  opacity: 0;
  transition: all 300ms ease-in-out;
  z-index: 10;
}

.volumeInputShown {
  transition: all 300ms ease-in-out;
  top: -87px;
  opacity: 1;
}

.volumebar {
  margin: 10px;
  -webkit-appearance: none;
  height: 5px;
  background: #fff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 10px;
}

.volumeIcon {
  cursor: pointer;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

@media screen and (max-width: 870px) {
  .songinfo {
    width: auto;
    display: flex;
  }

  .info {
    display: none;
  }
}
@media screen and (max-width: 670px) {
  .time {
    display: none;
  }

  .playlistMain {
    top: -200px;
  }
}
