.main {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: center;
  font-size: 0.9rem;
  background-color: rgb(0 0 0 / var(--opacity-40, 1));
}

.left,
.middle,
.right {
}

.artwork {
  width: 120px;
  cursor: pointer;
}

.artwork > img {
  width: 100%;
  margin: 10px;
  border-radius: 10px;
}

.song {
  background-color: #000000;
  color: #ffffff;
}

.song > span {
  font-weight: normal;
}

.playback > button {
  margin: 5px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  border-width: 0px;
  background-color: #000000;
}

.progress {
  width: 80%;
  margin: 10px;
}

.volumeIcon {
  margin: 5px 5px 0;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}
