@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.appContainer {
  animation: fadeIn;
  animation-duration: 1.5s;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem 1rem 0rem;
  margin-top: 10px;
}

.carouselContainer {
  position: relative;
  overflow: hidden;
}

.carouselWrapper {
  display: flex;
  transition: transform 500ms ease-in-out;
}

.slide {
  width: 100%;
  flex-shrink: 0;
}

.slide > a {
  opacity: 0.9;
}

.headLine {
  color: #ffffff;
  position: absolute;
  bottom: 20%;
  font-size: 3rem;
  background-color: #000000;
  width: 80%;
  word-wrap: break-word;
}

.carouselImage {
  width: 100vw;
  height: 82vh;
  object-fit: cover;
  transition: 300ms;
}

.navButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #1f2937;
  color: white;
  padding: 1rem 0.25rem;
  opacity: 0.7;
  transition: opacity 300ms ease-in-out;
  z-index: 10;
  border: none;
  cursor: pointer;
}

.navButton:hover {
  opacity: 1;
}

.prevButton {
  left: 0rem;
}

.nextButton {
  right: 0rem;
}

.indicatorContainer {
  display: flex;
  justify-content: left;
  margin: 1rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50%;
}

.indicatorButton {
  width: 0.75rem;
  height: 0.75rem;
  margin: 0.15rem;
  border-radius: 9999px;
  transition: background-color 300ms ease-in-out;
  background-color: #9ca3af;
  border: none;
  cursor: pointer;
}

.isActive {
  background-color: #1f2937;
}

@media (max-width: 768px) {
  .headLine {
    font-size: 2rem;
    width: 100%;
  }
}

@media screen and (max-width: 470px) {
  .headLine {
    font-size: 1.5rem;
  }
  .carouselImage {
    height: 80vh;
    transition: 300ms;
  }
}
