.register {
  padding: 10px;
  color: #000000;
}

.register > h2 {
  margin: 1rem;
}

.register > form {
  display: grid;
  grid-row-gap: 0.5rem;
}

.register > form > input[type="submit"] {
  background-color: #000000;
  border: none;
}

.register > form > input[type="submit"],
.register > form > input[type="text"],
.register > form > input[type="email"] {
  padding: 0.5rem;
  font-size: 1rem;
}

.formLabel {
  display: flex;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.error {
  margin: 1rem;
}

.animatespin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
