.search {
  display: flex;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0;
}

.search > input {
  margin: 5px;
  padding: 5px;
  width: 100%;
  font-size: large;
}

.search > svg {
  color: #ffffff;
}
