.subscribe {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1rem;
  background-color: #000000;
  border: none;
}
